<%- include('./partials/header.ejs') %>

<main>

    <h1><%= title %></h1>

    <form
        action="/edit-project/<%= project.project_id %>"
        method="POST"
    >

        <div>

            <label for="title">
                Project Title
            </label>

            <input
                type="text"
                id="title"
                name="title"
                value="<%= project.title %>"
                maxlength="200"
                required
            >

        </div>

        <div>

            <label for="description">
                Description
            </label>

            <textarea
                id="description"
                name="description"
                maxlength="1000"
                required
            ><%= project.description %></textarea>

        </div>

        <div>

            <label for="location">
                Location
            </label>

            <input
                type="text"
                id="location"
                name="location"
                value="<%= project.location %>"
                maxlength="200"
                required
            >

        </div>

        <div>

            <label for="date">
                Date
            </label>

            <input
                type="date"
                id="date"
                name="date"
                value="<%= projectDate %>"
                required
            >

        </div>

        <div>

            <label for="organizationId">
                Organization
            </label>

            <select
                id="organizationId"
                name="organizationId"
                required
            >

                <% organizations.forEach(organization => { %>

                    <option
                        value="<%= organization.organization_id %>"
                        <%= organization.organization_id === project.organization_id
                            ? 'selected'
                            : '' %>
                    >
                        <%= organization.name %>
                    </option>

                <% }) %>

            </select>

        </div>

        <button type="submit">
            Update Project
        </button>

    </form>

</main>

<%- include('./partials/footer.ejs') %>